{% extends 'port/base.html' %}
{% load staticfiles %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/city.js' %}"></script>
{% endblock %}
{% block body %}
 <body onload="setup();preselect('北京市');promptinfo();">
 {% endblock %}

	{% block title %}方寸物造添加收货地址{% endblock %}

    {% block center %}
    <header><h3 style="float: right">欢迎{{ current_user }}客户</h3></header>
    <h1>方寸物造客户添加收货地址</h1>
	<form action="" method="post">
        {%csrf_token%}
        <h2 class="form-control-heading" style="color: red;">{{ error }}</h2>
	<div class="form-group">	
		<label>客户名称：</label>
		<input class="form-control" type="text" name="name" required>
	</div>
    <div class="form-group">
    <label>联系邮箱：</label>
    <input class="form-control"  type="text" name="email" required>
    </div>
    <div class="form-group">
    <label>电话/手机：</label>
    <input class="form-control"  type="text" name="phone" required>
    </div>
	<div class="form-inline">
		<label>城市：</label><br>
		<select style="margin-bottom:10px;" class="form-control" name="province" id="s1">
			<option value=""></option>
		</select>
		<select style="margin-bottom:10px;"  class="form-control" name="city" id="s2">
			<option value=""></option>
		</select>
		<select style="margin-bottom:10px;"  class="form-control" name="town" id="s3">
			<option value=""></option>
		</select>
		</div>
    <div class="form-group">
    <label>收货地址：</label>
    <input class="form-control"  type="text" name="address">
    </div>

    <div class="form-group">
        <label>微信：</label>
        <input class="form-control" type="text" name="weixin">
    </div>


    <div class="form-group">
    <label>qq：</label>
    <input class="form-control" type="text" name="qq">
    </div>
    <div class="form-group">
    <label>需求/建议/备注：</label>
    <input class="form-control" type="text" name="note">
    </div>
	<button type="submit" name="submi" class="btn btn-default" >添加</button>
	</form>
    {% endblock %}
